.summary-con {
  width: 250px;
  font-family: 'Roboto';
  align-self: flex-end;
}

.summ-heading {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 20px;
}

.total {
  color: #000000;
}

.summ-desc {
  color: #616e7c;
  margin-top: 0px;
}

.summ-btn {
  background-color: #0b69ff;
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  border: 0px;
  border-radius: 10px;
}
.payment-method {
  background-color: green;
  list-style: none;
  box-shadow: 0px 10px 10px 0px #ffff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid yellow;
}
.payment-option {
  background-color: transparent;
  border: none;
  outline: none;
  color: yellow;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .payment-option {
    font-size: 13px;
  }
}
.disabled {
  opacity: 0.5;
}
.popup-container {
  width: 100%;
}
.confirm-btn {
  color: #ffff;
  background-color: blue;
  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 8px;
}
.successfully-orederd {
  background-color: green;
  color: black;
  padding: 30px;
  font-size: 30px;
  border: none;
  font-family: "Bree Serif";
  font-style: italic;
}
.total-item-in-cart {
  color: #000000;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .confirm-btn {
    width: 110px;
  }
  .total-item-in-cart {
    font-size: 14px;
  }
  .successfully-orederd {
    font-size: 22px;
  }
}
